<div class="row popup-content">
  <div class="col-4 image-section">
    <% if m.photo.key.present? %>
      <%= cl_image_tag m.photo.key, class: "img-card-index", crop: :fill %>
      <p class="mt-2">Organized by <strong><%= m.user.name.capitalize %></strong></p>
    <% else %>
      <%= image_tag "kids.jpg", class: "img-card-index", crop: :fill %>
      <p class="mt-2">Organized by <strong><%= m.user.name.capitalize %></strong></p>
    <% end %>
  </div>
  <div class="col-8 content-section">
    <div class="d-flex flex-column bd-highlight justify-content-start">
      <div>
        <h3 class="bd-highlight text-start"><%= m.name %></h3>
      </div>
      <div>
        <p class="bd-highlight text-start"><i class="fa-solid fa-location-dot me-2 my-2"></i> <%= m.address %></p>
      </div>
      <div>
        <p class="bd-highlight text-start"><i class="fa-regular fa-clock me-2 mb-2"></i><%= "#{m.date.hour}:#{format('%02d', m.date.min)}" %></p>
      </div>
      <div class="div">
        <p class="bd-highlight text-start"><i class="fa-regular fa-calendar b-3 mb-2 me-2"></i> <%= "#{m.date.day}/#{format('%02d', m.date.month)}/#{m.date.year}" %></p>
      </div>
      <div>
        <p class="bd-highlight text-start"><i class="fa-solid fa-phone me-2"></i> <%= m.contact %></p>
      </div>
    </div>
    <div>
      <%= link_to "Check this movement!", movement_path(m), class: "zoom-button d-flex justify-content-center mt-3"%>
    </div>
  </div>
</div>
