<div class="row new-movement-general vh-100">
  <div class="col-6 d-flex align-items-center">
    <h1 class="text-new">
      <span class="text-details">DO YOU WANT TO HELP PEOPLE?</span> START A MOVEMENT <span class="text-details">NOW!</span>
    </h1>
  </div>
  <div class="col-6 bg-dark text-white d-flex justify-content-center">
    <%= simple_form_for [@movement] do |f| %>
      <%= f.error_notification %>

      <div class="movement-form-inputs">
        <%= f.input :photo, as: :file, required: true, label: false, placeholder: "Upload Photo" %>
        <%= f.input :name, required: true, autofocus: true, label: false, placeholder: "Name" %>
        <%= f.input :date, required: true, autofocus: true, label: false, placeholder: "Date" %>
        <%= f.input :rewards, required: true, autofocus: true, label: false, placeholder: "Rewards" %>
        <%= f.input :description, required: true, autofocus: true, label: false, placeholder: "Description" %>
        <%= f.input :address, required: true, autofocus: true, label: false, placeholder: "Address" %>
        <%= f.input :contact, required: true, autofocus: true, label: false, placeholder: "Contact" %>
      </div>

      <div class="movement-form-actions">
        <%= f.button :submit, "Create the social event", class: "new-button w-100 mb-3" %>
        <%= link_to "Return", movements_path, id: "return-button" %>
      </div>
    <% end %>

  </div>
</div>
