<div id="message<%= message.id %>">
  <div class="d-flex <%= 'flex-row-reverse' if message.user.id == current_user.id %>">
    <% unless message.user.id == current_user.id %>
      <% if message.user.photo.key? %>
        <%= cl_image_tag message.user.photo.key, class: "avatar-bordered" %>
      <% else %>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxksg3HzNZNRNl0v0DAQUtrebHt5cyhy9ldQ&s" class="avatar-bordered" />
      <% end %>
    <% end %>
    <div class="d-flex flex-column mt-2 mx-2">
      <div class="d-flex <%= message.user.id == current_user.id ? 'flex-row-reverse align-items-center me-1' : 'flex-row align-items-center ms-1' %>">
        <% unless message.user.id == current_user.id %>
          <div class="message-name"><%= message.user.name %></div>
        <% end %>
        <div class="message-time"><i><%= time_ago_in_words_with_now(message.created_at) %></i></div>
      </div>
      <div class="<%= 'text-end' if message.user.id == current_user.id %>">
        <p class="<%= message.user.id == current_user.id ? 'bg-primary-subtle opacity-75' : 'bg-body-secondary opacity-75' %> message-pill p-2 px-4"><%= message.content %></p>
      </div>
    </div>
  </div>
</div>
