<div class="sidebar" data-sidebar-target='toggle'>
  <button class="sidebar__toggle" type="button" data-action="click->sidebar#open" aria-label="Toggle sidebar"></button>

  <%= image_tag "unite.jpeg", class:"sidebar-img" %>
  <div class="d-flex flex-grow-1">
    <div class="d-flex flex-column w-100">

      <ul class="list-unstyled">
        <%= link_to  root_path do %>
        <div class="menu-item">
          <i class="fa-solid fa-house"></i> Home
        </div>
        <% end %>
        <%= link_to about_path(anchor: 'top') do %>
        <div class="menu-item">
          <i class="fa-solid fa-address-card"></i> About us
        </div>
        <% end %>
        <%= link_to movements_path do %>
        <div class="menu-item">
          <i class="fa-solid fa-group-arrows-rotate"></i> Social Movements
        </div>
        <% end %>
        <% if user_signed_in? %>
        <%= link_to chatroom_path(Chatroom.last) do %>
        <div class="menu-item">
          <i class="fa-solid fa-calendar-days"></i> Chat Room
        </div>
        <% end %>
        <% end %>
      </ul>
      <div class="mt-auto">
        <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
        <% else %>
        <button type="button" class="menu-session"
          onclick="window.location.href='<%= new_user_session_path %>'">Login</button>
        <%end %>
      </div>
    </div>
  </div>
</div>
