<div class="d-flex justify-content-center about-general">
  <div class="banner" >
    <div class="container ms-2">
      <strong><h1>About Unite Social</h1></strong><br><p>Unite Social is a platform dedicated to connecting people who want to make a difference with organizations that need help. Our goal is to facilitate the meeting between those who want to donate their time, skills, or resources with NGOs, associations, and social projects that operate in their communities.</p>

      <strong><p>Our Mission<p></strong><p>At Unite Social, we believe that every act of kindness has the power to change the world. Our mission is to simplify the process of donation and volunteering, making it easier for everyone to contribute to important causes and help those in need.</p>

      <strong><p>Join Us</p></strong>
      <p class="mb-4">Whether you are an individual looking to make a difference or an organization in need of support, Unite Social is the right place for you. Join us and be part of this chain of goodwill, turning intentions into actions and creating lasting impact!</p>

      <strong><p>How It Works</p></strong>
      <p class="mb-4">The Unite Social platform offers a user-friendly interface where:</p>
      <strong><p>Volunteers and Donors:</p></strong>
      <p class="mb-4">Can search and find volunteering opportunities and donation locations near them or in specific locations. Simply enter the desired location and explore the available options.</p><br>
      <strong><p>Organizations:</p></strong>
      <p>Can register for free, create a detailed profile, and list their donation needs and volunteering opportunities. This increases visibility and facilitates fundraising and volunteer assistance.</p>
      <strong><p>Team:</p></strong>
      <ul class="team-unite">
        <li><i class="fa-solid fa-thumbs-up"></i> <%= link_to "Felipe", "https://github.com/imbimbo", class: "team-member" %></li>
        <li><i class="fa-solid fa-thumbs-up"></i> <%= link_to "Ricardo", "https://github.com/rcdrodrigues", class: "team-member" %></li>
        <li><i class="fa-solid fa-thumbs-up"></i> <%= link_to "Guilherme", "https://github.com/SaonMonsieur", class: "team-member" %></li>
      </ul>
    </div>
    <div class="d-flex justify-content-center">
      <%= image_tag 'team-unite.jpg', class: "photo-unite"%>
    </div>
  </div>
<%= image_tag 'unite_about_arv.jpg', class: "d-block w-50 about-img"%>
</div>
